* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */
.headerResponsive{
    display: none;
}

.contenedorX{
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 80px;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 60;
    justify-content: space-between;
}
.contenedorImg{
    width: 30%;
    height: 100%;
    background-color: #fff;
}
.contenedorImg img{
    width: 200px;
    height: 100%;
    margin-left: 200px;
}
.contenedorLinks {
	display: flex;
	justify-content:end;
    margin-left:150px;
    align-items: center;
}
.contenedorLinks li{
    list-style: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
}
.contenedorLinks a {
    color: #1db9b4;
    text-decoration: none;
    position: relative;
}
.contenedorLinks a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom:0;
    left:0;
    background-color:#ff5d5d;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition:transform 0.5s ease-out;
}
.contenedorLinks a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom right;
}


.ubicacion{
    width:100px;
    height:100px;
    
}


/* * ============================== */
/* * ===== CONTENEDOR SLIDER ====== */
/* * ============================== */


.contenedor-slider{
    overflow: hidden;
    height: 80vh;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider > img{
    width: 100%;
    height: 800px;
}






/* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
	min-height: 100vh;
}
.post{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}
.text{
    width: 70%;
}
.imgViolencias{
    height:70%;
    width: 25%;
    overflow: hidden;
    margin-top: 50px;
}
.imgViolencias img{
    width:100%;
    height: 100%;
    border-radius: 3px;
    object-fit: fill;
}
.enlaceviolencia{
    color: #1db9b4;
}

main .contenido p {
    margin-top: 10px;
	margin-bottom: 30px;
	line-height: 30px;
	color: #525151;
}

main .contenido .titulo {
    font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding-top: 40px;
    color:#1db9b4;
    margin-bottom: 25px;
}

main .contenido .fecha {
	font-size: 14px;
	color: #B5B5B5;
}
.contenedor{
    display: flex;
    width: 80%;
    margin-left:6%;
    justify-content: space-around;
}
.contenedor .contenido{
    width: 70%;
}
/* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
    width: 20%;
    min-width: 100px;
    height: 100%;
	margin: 40px 80px 20px 0;
	background: #f8f8f8;
	padding: 20px;
	border-radius: 5px;
    position: sticky;
    top: 27%;
    bottom: 27%;
    z-index: 50;
}

aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	
    text-align: center;
    color: #ff5d5d;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
    color:#B5B5B5
}
/* * ============================== */
/* * ========== About Us ============ */
/* * ============================== */

.aboutUs{
    height:50vh;
    display: flex;
    overflow: hidden;
    margin:50px 0 0 0;
    justify-content: center;
    align-items: center;
}
.aboutUs .contenedorImgAboutUs{
    width: 49%;
}
.aboutUs .description{
    width:51%;

}
.description .tituloAboutUs{
    font-size: 4.2rem;
    font-family: 'Manrope', sans-serif;
    display: block;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 25px;
    color:#ff5d5d;
}
.description p{
    display: block;
    width: 65%;
    margin-left: 100px;
    font-size:12px;
    line-height: 1.8;
}
.botonAboutUs{
    background-color:#1db9b4;
    color: #fff;
    outline:none;
    margin:25px 0 0 180px;
    padding:20px 35px;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    border: none;
    border-radius: 20px;
}
.botonAboutUs:hover{
    background-color: #09a5a0;
    font-weight: bolder;
    transition:0.36s;
}





.Socios{
    height:50vh;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    
}
.Socios .SocioscontenedorImgAboutUs{
    width: 49%;
    overflow: hidden;
}
.Socios .SocioscontenedorImgAboutUs img{
    width: 100%;
    overflow: hidden;
}
.Socios .Sociosdescription{
    width:51%;

}
.Sociosdescription .SociostituloAboutUs{
    font-size: 4.2rem;
    font-family: 'Manrope', sans-serif;
    display: block;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 25px;
    color:#ff5d5d;
}
.Sociosdescription p{
    display: block;
    width: 65%;
    margin-left: 100px;
    font-size:12px;
    line-height: 1.8;
}
.SociosbotonAboutUs{
    background-color:#1db9b4;
    color: #fff;
    outline:none;
    margin:25px 0 0 180px;
    padding:20px 35px;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    border: none;
    border-radius: 20px;
}
.SociosbotonAboutUs:hover{
    background-color: #09a5a0;
    font-weight: bolder;
    transition:0.36s;
}






/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */



.form-com {
    width: 450px;
    height: 240px;
    background: #797979;
    margin: auto;
    margin-top: 50px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #1db9b4;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    transform: translate(-250px);
}
.controls {
    width: 100%;
    border: 1px solid #1db9b4;
    margin-bottom: 30px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color:#fff
  }
  .buttons {
    width: 100%;
    height: 40px;
    background: #1db9b4;
    border: none;
    color: #fff;
    margin-bottom: 16px;
  }

.brand {
    font-weight: bold;
    font-size: 20px; 
}
.site-header {
    position: relative;
    background-color: #def7ff; 
}  
.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; 
}        
    /*nasbsdfbvajbvas*/
    
footer{
    width: 100%;
    background: rgba(51,51,51);
    color: white;        
}
.ubicacion{
    height:250px;
    width:250px;
    transform:translate(-75px);
    margin-top:25px;
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    }
    
.container-body{
    display: flex;
    justify-content: space-between;
}
    
.colum1{
    max-width: 400px;
}    
.colum1 h1{
        font-size: 22px;
}    
.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
    
.colum2{
    max-width: 400px;
        
}
    
.colum2 h1{
    font-size: 22px;
}
    
.row{
    margin-top: 20px;
    display: flex;
}
    
.row img{
    width: 36px;
    height: 36px;
}
    
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}
    
.colum3{
    max-width: 400px;
}
    
.colum3 h1{
    font-size: 22px;
}
    
.row2{
    margin-top: 20px;
    display: flex;
}
    
.row2 img{
    width: 36px;
    height: 36px;
}
    
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}
    
.container-footer{
    width: 100%;  
    background: rgb(20, 20, 20);
}
    
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
    
.copyright{
    color: #C7C7C7;
}
    
.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
    
.information a{
    text-decoration: none;
    color: #C7C7C7;
}
    
@media screen and (min-width:1120px) and (max-width: 1400px){
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    aside{
        position:relative;
        width:100%;
    }
    .contenido{
        display:block;
        width:100%;
        position: relative;
        margin: auto;
    }
    .post{
        width:100%;
    }
    .link{
        font-size: 15px;
    }
    .contenedorImgAboutUs{
        object-fit: contain;
    }
}
@media screen and (max-width:1120px){
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    aside{
        position:relative;
        width:100%;
    }
    .contenido{
        display:block;
        width:100%;
        position: relative;
        margin: auto;
    }
    .post{
        width:100%;
    }
    .contenedorX{
        display: none;
    }
    .headerResponsive{
        background-color: #fff;
        display: inherit;
        position:sticky;
        top: 0;
        z-index: 70;
    }
    .contenedorImg{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .contenedorImg img{
        margin-left: 150px;
    }
    .ham{
        background-color:transparent;
        cursor: pointer;
        border:none;
        height: 60px;
        display:block;
        position: relative;
        z-index: 50;
    }    
    .ham span{
        background-color:#1db9b4;
        display:block;
        height:3px;
        width: 28px;
        margin:10px 50px;
        border-radius:2px;    
    }
    .contenedorLinks {
        margin-left:0px;
        display:none;
    }
    .contenedorLinks.activo{
        display: flex;
        position: absolute;
        background-color: #ff5d5d;
        z-index: 150;
        flex-direction: column;
    }
    .contenedorLinks .link{
        list-style: none;
        text-align: center;
        padding: 10px 20px;
        border-radius: 20px;
        width: 100%;
    }
    .contenedorLinks a {
        color: #1db9b4;
        text-decoration: none;
        position: relative;
        width: 100%;
    }
    .contenedorLinks a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom:0;
        left:0;
        background-color:#ff5d5d;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition:transform 0.5s ease-out;
    }
    .contenedorLinks li:hover>a::after{
        transform: scaleX(1);
        transform-origin: bottom right;
    }
}